p + p {
    @apply mt-4;
}

h2 {
    @apply leading-snug mb-2 text-5xl font-semibold text-sky-600
}


h3 {
    @apply mb-2 text-3xl font-semibold text-sky-500;
}

figcaption {
    @apply py-0 text-sm text-slate-500 text-center
}

ol {
    @apply list-decimal list-outside pl-8
}

ul {
    @apply list-disc list-outside pl-8
}

a {
    color: blue;
}

a:hover {
    text-decoration: underline;
}