/* ----------------------------------------------------------------------
    plugin: swiper customize
---------------------------------------------------------------------- */

/* swiper容器 */
.swiper-container {
    @apply w-full flex flex-row items-center justify-center gap-0   
        sm:gap-4;
}

.swiper {
    @apply order-2;
    margin-left:  0 !important;
    margin-right: 0 !important;
}

.swiper-wrapper {
    @apply flex flex-row;
}

/* swiper卡片 */
.swiper-slide {
    @apply h-auto px-2 py-4
        sm:px-3;
}

/* swiper頁碼 */
.swiper-pagination {
    @apply static;
}
.swiper-pagination-bullet {
    @apply bg-slate-500;
}
.swiper-pagination-bullet-active {
    @apply bg-sky-400;
}

/* swiper左右鍵 */
.swiper-button-prev-custom,
.swiper-button-next-custom {
    @apply w-6 h-6 fill-slate-300 transition
        hover:fill-sky-400;
}
.swiper-button-prev-custom {
    @apply order-1;
}
.swiper-button-next-custom {
    @apply order-3;
}
@media ( max-width: 639px ) {
    .swiper-button-prev-custom,
    .swiper-button-next-custom {
        @apply hidden;
    }
}